@import "tailwindcss";

:root {
  /* Base Background */
  --color-cream: #fbf6f1;
  /* Secondary Background */
  --color-beige: #e8e4dc;
  /* footer background */
  --color-footer:#2C3E2D;
  /* office background */
  --color-office:#D0C4BC;
  /* Buttons / CTA Background */
  --color-olive: #8a8b68;
  /* Primary Text / Dark Accents */
  --color-green: #2C3E2D;
  /* Hover color */
  --color-hover: #2C3E2D;

  --background: var(--color-cream);
  --primary: var(--color-green);
  --secondary: var(--color-beige);
  --office: var(--color-office);
  --footer: var(--color-footer);
  --foreground: var(--color-green);
  --hover: var(--color-hover);
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-footer: var(--footer);
  --color-office: var(--office);
  --color-hover: var(--color-hover);

  --color-cream: var(--color-cream);
  --color-footer: var(--color-footer);
  --color-beige: var(--color-beige);
    --color-hover: var(--color-hover);
  --color-office: var(--color-office);

  --color-olive: var(--color-olive);
  --color-green: var(--color-green);

  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
  --font-subheading: var(--font-lato);
  --font-button: var(--font-montserrat);
}


body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.6;
}