@import "tailwindcss";

:root {
  /* 5-Color Palette */
  --color-cream: #fbf6f1;
  /* Base Background */
  --color-beige: #e8e4dc;
  /* Secondary Background */
  --color-taupe: #afa499;
  /* Introduction / Muted Accent */
  --color-olive: #8a8b68;
  /* Buttons / CTA Background */
  --color-green: #223614;
  /* Primary Text / Dark Accents */

  --background: var(--color-cream);
  --foreground: var(--color-green);
  --primary: var(--color-green);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --color-cream: var(--color-cream);
  --color-beige: var(--color-beige);
  --color-taupe: var(--color-taupe);
  --color-olive: var(--color-olive);
  --color-green: var(--color-green);

  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
  --font-subheading: var(--font-lato);
  --font-button: var(--font-montserrat);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.6;
}